# Build Artifacts and Output
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
app/build/
*/build/
output-metadata.json
output.json

# Gradle Files and Directories
.gradle/
local.properties

# IDE-Specific Files (Android Studio / IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.swp
*.swo

# Android Specific
proguard/
proguard-project.txt
project.properties
gradle-app.setting

# Secrets / Signing
*.jks
*.keystore

# Log Files
*.log

# System Files
.DS_Store
Thumbs.db
